.hero-text {
  text-align: right;
  position: absolute;
  top: 55%;
  /* left: 105%; */
  transform: translate(-50%, -50%);
  color: #000000;
  width: 100%;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 5px 20px;
  color: #302f2f;
  font-size: 15px;
  letter-spacing: 0px;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: #000000 !important;
}

a.diffcolormenu {
  background: #46abe2;
  border-radius: 25px;
  padding: 0px 20px;
  color: #fff;
}

.groundwater_bg img {
  width: 315px;
  max-width: 100%;
  text-align: center;
}

.grndtext {
  padding: 14px 5px;
}

.grndtext a {
  font-size: 20px;
  color: #0971b7;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.abou-home-heading {
  text-align: center;
}

.about-content {
  background: #0971b7;
  color: #fff;
  max-width: 550px;
  padding: 10px 15px;
  border-radius: 20px;
  margin-left: 25px;
}

.about-content {
  background: #0971b7;
  color: #fff;
  max-width: 675px;
  padding: 10px 15px;
  border-radius: 20px;
  margin-left: -40px;
  margin-top: 10px;
}

.about-content p {
  opacity: 0.9;
}

.cntrimg img {
  max-width: 100%;
  width: 350px;
  text-align: center;
}

.cntrimg {
  text-align: center;
}

.mdrntech {
  padding: 20px 10px;
  text-align: right;
}

.footer-one {
  padding: 9px;
  margin-top: 30px;
}

.intfltrs {
  padding: 20px 10px;
  text-align: right;
}

.extrnlenrgy {
  padding: 20px 10px;
  text-align: right;
}

.rooftopfrm {
  background: #fff;
  border-radius: 30px;
  width: 450px;
  max-width: 100%;
  margin: auto;
  padding: 20px 25px 10px 25px;
}

.rghtbtnt {
  padding: 40px;
}

.rooftopfrm h3 {
  font-size: 16px;
  font-weight: 600;
  color: #302e2e;
  padding-bottom: 20px;
}

.rooftopfrm input {
  width: 100%;
}

.rooftopfrm button {
  background: #fff532;
  border: #fff532;
  padding: 5px 35px;
  border-radius: 25px;
  font-size: 13px;
  color: #282727;
  margin: 10px 0px;
}

.knwyroof {
  padding: 5px 0px 0px 0px;
  font-size: 14px;
  color: #6ec6d8;
}

.shouldtry button {
  background: #fff;
  border: 1px solid #fff;
  padding: 5px 35px;
  border-radius: 25px;
  color: #0663ac;
  font-weight: 600;
  font-size: 22px;
}

.flhndred button {
  border: 1px solid #46abe2;
  background: #46abe2;
  color: #fff;
  padding: 5px 75px;
  font-size: 30px;
  border-radius: 25px;
  margin-top: 10px;
}

.groundwater {
  padding: 45px 0px 50px 0px;
}

.groundwaterSocial {
  padding: 45px 0px 0px 0px;
}

.groundwaterstxt h3 {
  font-weight: 600;
  color: #0971b7;
  font-size: 33px;
}

.groundwaterstxt p {
  /* color: #4c3f43; */
  line-height: 25px;
  left: 1px;
  word-spacing: 1px;
  padding: 10px 0px;
  font-weight: 500;
}

.groundwaterstxt button {
  background: #fff532;
  border: 1px solid #fff532;
  padding: 8px 40px;
  border-radius: 25px;
  margin: 0px 0px;
}

.easyinsta.threecntr img {
  margin-right: 10px;
}

.wderng.threecntr img {
  margin-right: 10px;
}

.cstefftve.threecntr img {
  margin-right: 10px;
}

.groundwaterstxt h3:after {
  content: "";
  display: block;
  text-align: left;
  position: relative;
  width: 18%;
  border: 1px solid #0971b7;
  margin-top: 14px;
}

.groundwaterstxt {
  padding: 65px 10px;
}

/* slider */

body {
  padding-top: 20px;
  top: 0px !important;
}

.carousel {
  width: 100%;
}

.slide-box {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .slide-box img {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .slide-box img {
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}

@media (min-width: 992px) {
  .slide-box img {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 0.5rem;
}

.slide-box img {
  max-width: 170px !important;
  height: auto !important;
}

/*slider */

.clients-main {
  padding: 5px 20px 45px 20px;
}

.footer-main {
  background: #0971b7;
  padding: 45px 0px 45px 0px;
}

.footer-one p {
  color: #fff;
  padding: 0px 5px;
  line-height: 25px;
  letter-spacing: 1px;
}

.footer-two {
  color: #fff;
  padding: 35px;
}

.footer-two h5 {
  color: #59c5f5;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

.footer-three {
  color: #fff;
  padding: 35px;
}

.footer-three h5 {
  color: #59c5f5;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

.footer-three button {
  border: 1px solid #fff532;
  background: #fff532;
  padding: 4px 40px;
  margin-bottom: 10px;
  border-radius: 25px;
  font-size: 13px;
  letter-spacing: 0px;
}

.copyright-main {
  background: #2baae2;
  padding: 15px 0px 1px 0px;
  text-align: center;
  color: #fff;
}

.copyright-main ul li {
  display: contents;
  font-size: 12px;
  letter-spacing: 0px;
}

.copyright-main ul li a {
  font-size: 12px;
  margin: 0px 5px;
  letter-spacing: 1px;
}

a {
  font-weight: 500;
  font-size: 14px;
  font-family: "Visby Round CF Heavy";
  letter-spacing: 0px;
}

p {
  font-weight: 600;
  font-size: 14px;
  font-family: "Visby Round CF Regular";
  letter-spacing: 0px;
}

.hero-text h1 {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0px;
  margin: 5px 0px !important;
}

.hero-text p {
  font-size: 30px;
  font-weight: 500;
  color: #514d4d;
  margin: 10px 0px 20px 0px;
}

.groundwater_bg h2:after {
  content: "";
  display: block;
  text-align: center;
  position: relative;
  width: 9%;
  border: 1px solid #0971b7;
  margin: auto;
  margin-top: 14px;
}

.grndtext {
  padding: 25px 25px;
}

.abou-home-heading h2 {
  text-align: center;
  padding: 45px 0px 45px 0px;
  font-size: 33px;
  font-weight: 600;
  color: #0971b7;
  letter-spacing: 0px;
  font-family: "Visby Round CF Heavy";
}

.abou-home-heading h2:after {
  content: "";
  display: block;
  text-align: center;
  position: relative;
  width: 10%;
  border: 1px solid #0971b7;
  margin: auto;
  margin-top: 14px;
}

.threecntr h3 {
  font-size: 21px;
  font-weight: 200;
  color: #0971b7;
  letter-spacing: 0px;
}

.threecntr img {
  max-width: 30px !important;
}

.mdrntech.threecntr img {
  margin-left: 10px;
}

.intfltrs.threecntr img {
  margin-left: 10px;
}

.extrnlenrgy.threecntr img {
  margin-left: 10px;
}

.easyinsta.threecntr {
  padding: 15px 10px;
  text-align: left;
}

.wderng.threecntr {
  padding: 10px 10px;
}

.cstefftve.threecntr {
  padding: 10px 10px;
}

.threecntr p {
  font-size: 15px;
  font-weight: 500;
  color: #4c3f43;
}

.rooftopfrm input {
  width: 100%;
  text-align: center;
  font-size: 12px;
  padding: 5px;
  border: 1px solid #6ec6d8;
}

.knwyroof a {
  font-size: 14px;
  font-family: Visby Round CF Regular;
  font-weight: 500;
}

.groundwatersimg {
  padding: 30px 15px;
}

.footer-two i {
  font-size: 24px;
  margin-right: 10px;
}

.whtdowdo {
  text-align: center;
  padding: 45px 0px 45px 0px;
  font-size: 33px;
  font-weight: 600;
  color: #0971b7;
  letter-spacing: 0px;
  font-family: "Visby Round CF Heavy";
}

h2.whtdowdo:after {
  content: "";
  display: block;
  text-align: center;
  position: relative;
  width: 10%;
  border: 1px solid #0470b7 !important;
  margin: auto;
  margin-top: 14px;
}

.container-fluid.groundwater_bg_home .col-md-4 img {
  border-radius: 10px;
}

.rainy-dual {
  padding: 10px 0px 20px 0px;
  background-image: url(../../static/images/Path233.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.frmsecimg {
  background-size: cover;
  background-image: url(../../static/images/homepage/ShouldTry.jpg);
  padding: 50px 0px 50px 0px;
  background-repeat: no-repeat;
  background-position: initial;
  text-align: center;
}

.groundwater_bg_home {
  padding: 0px 5px 50px 5px;
  background-image: url(../../static/images/Wave.png);
  background-size: cover;
  background-position: inherit;
}

.about-home {
  background-image: url(../../static/images/homepage/AboutUs.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  padding: 120px 0px;
}

/* our journey */

.enthrotxt {
  top: 40%;
  left: 50%;
  color: #fff;
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: -16px;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #858585;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 40%;
  float: left;
  left: 12%;
  border-radius: 2px;
  padding: 20px;
  position: relative;
}

/*.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}*/

.timeline > li > .timeline-badge {
  color: #fff;
  width: 25px;
  height: 25px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 51%;
  margin-left: -25px;
  /*background-color: #999999;*/
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline-badge.warning {
  background-color: #999999 !important;
}

.timeline-badge.danger {
  background-color: #999999 !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
}

.timeline-title {
  margin-top: 0;
  font-size: 28px;
  font-weight: 600;
  color: #037ec2;
  letter-spacing: 0.5px;
}

.timeline-body p {
  font-size: 14px;
  color: #0f0e0e;
  letter-spacing: 0.5px;
}

.timeline-panel img {
  width: 400px;
  max-width: 100%;
  border-top: 5px solid #075aa4 !important;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

.body-timmain {
  padding: 20px 20px 35px 20px;
  background: #e7f3f9;
  border-radius: 0px 0px 15px 15px;
}

.container-fluid.journeymain {
  background-image: url(/static/images/Path233.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}

.timeline > li > .right-drop {
  width: 200px;
  height: 200px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 10px;
  left: 49%;
  margin-left: -5px;
  background-image: url(/static/images/elements/Path226R.png);
  z-index: 100;
  background-repeat: no-repeat;
  background-position: center;
  border-top-right-radius: 90%;
  border-top-left-radius: 0%;
  border-bottom-right-radius: 65%;
  border-bottom-left-radius: 85%;
}

.right-drop i span {
  position: absolute;
  width: 100%;
  top: 46%;
  font-size: 28px;
  font-weight: 600;
  left: -25px;
  line-height: 30px;
}

.timeline > li > .left-drop {
  width: 200px;
  height: 200px;
  background-image: url(/static/images/elements/Path226.png);
  position: absolute;
  background-position: center;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 12px;
  left: 34.5%;
  margin-left: -5px;
  z-index: 100;
  border-top-right-radius: 0%;
  border-top-left-radius: 105%;
  border-bottom-right-radius: 115%;
  border-bottom-left-radius: 90%;
}

/*.timeline > li > .left-drop {
	width: 135px;
	height: 135px;
	line-height: 50px;
	font-size: 1.4em;
	text-align: center;
	position: absolute;
	top: 34px;
	left: 36%;
	margin-left: -5px;
	background-image: url(../../static/images/elements/Path226.png);
	z-index: 100;
	border-top-right-radius: 0%;
	border-top-left-radius: 105%;
	border-bottom-right-radius: 115%;
	border-bottom-left-radius: 90%;
}*/

.timeline > li > .right-imghis {
  left: -12%;
}

.timeline-badge span {
  position: absolute;
  width: 100%;
  top: 46%;
  font-size: 28px;
  font-weight: 600;
  left: 10px;
  line-height: 30px;
}

/* In The Media */

.nextButtons button i {
  font-size: 25px;
  font-weight: bolder;
  color: #fff;
}

.mdiasocial {
  position: absolute;
  bottom: -30px;
}

.groundwater_bg h2 {
  text-align: center;
  padding: 45px 0px 45px 0px;
  font-size: 33px;
  font-weight: 600;
  color: #0971b7;
  letter-spacing: 0.5px;
  font-family: sans-serif;
}

.groundwater_bg h2:after {
  content: "";
  display: block;
  text-align: center;
  position: relative;
  width: 9%;
  border: 1px solid #0971b7;
  margin: auto;
  margin-top: 14px;
}

.inthemedia {
  top: 40%;
  left: 50%;
  color: #ffffff;
}

.groundwater_bg.team {
  padding: 0px 5px 5px 5px;
  background: none;
}

.media-main {
  padding: 0px 0px 540px 0px;
}

.sec-brdr {
  border: 2px solid #4eb5e9;
  /* padding: 4px 5px; */
  height: 500px;
  max-width: 100%;
  border-radius: 5px;
}

.mdiaimg {
  /* margin-top: -25px; */
}
.mdiaimg img {
  width: 100% !important;
  height: 200px !important;
  /* max-width: 100% !important; */
}

/* .mdiacont {
    padding: 20px 0px;
} */

.mdiacont div {
  padding: 25px 10px;
}

.mdiacont H3 {
  padding: 0px 15px 0px 0px;
  font-size: 16px;
  line-height: 25px;
  color: #0971b7;
}

.mediasocial i.fa.fa-facebook {
  background: #0855a0;
  color: #fff;
  padding: 5px 8px;
  font-size: 12px;
  border-radius: 50%;
  margin: 5px;
}

.mediasocial i.fa.fa-twitter {
  background: #23bedf;
  color: #fff;
  padding: 5px 6px;
  font-size: 12px;
  border-radius: 50%;
  margin: 5px;
}

.mediasocial i.fa.fa-whatsapp {
  background: green;
  color: #fff;
  padding: 5px 5px;
  font-size: 13px;
  border-radius: 50%;
  margin: 5px;
}

h5.mb-0.mb0diff {
  margin-left: 35px;
}

.mediabtn button {
  background: #fff532;
  border: 1px solid #fff532;
  color: #131313;
  border-radius: 25px;
  padding: 2px 10px;
  font-size: 12px;
}

.slick-slider.slick-initialized .slick-arrow.slick-prev {
  z-index: 999;
  left: 35px;
}

.mdiasocial {
  padding: 20px 0px;
}

.awrdimgsec {
  text-align: center;
  align-content: center;
  align-items: center;
}

.awrdimgsec img {
  width: 550px;
  max-width: 100%;
  z-index: -999999;
  position: relative;
  display: inline-block;
  align-content: center;
}
.cliimgsec {
  text-align: center;
  align-content: center;
  align-items: center;
}
.cliimgsec img {
  width: 250px;
  max-width: 80%;
  z-index: -999999;
  position: relative;
  display: inline-block;
  align-content: center;
}
.awrdimgcont {
  width: 500px;
  background: #46abe2;
  margin: auto;
  color: #ffffff;
  border-radius: 5px;
  padding: 5px 10px;
  z-index: -1;
  margin-top: -30px;
}

.awrdimgcont h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
}
/* video Gallery */

.videoGallery {
  background: rgb(255, 255, 255);
  /* background: linear-gradient(
    245deg,
    rgba(255, 255, 255, 1) 48%,
    rgba(70, 171, 226, 1) 100%,
    rgba(70, 171, 226, 1) 100%,
    rgba(70, 171, 226, 1) 100%
  ); */
  background-color: white;
}
.video-gallery-main-container {
  max-width: 100%;
  margin: 30px;
  /* display: flex;
  flex-wrap: wrap; */
}
.large-video-container {
  width: 80%;
  margin: auto;
}
.large-video {
  width: 100%;
  margin: 20px;
  border-radius: 10px;
  /* padding: 30px; */
  /* box-shadow: -1px 0px 72px 21px rgba(70, 171, 226, 1);
  -webkit-box-shadow: -1px 0px 72px 21px rgba(70, 171, 226, 1);
  -moz-box-shadow: -1px 0px 72px 21px rgba(70, 171, 226, 1); */
}
.small-video-container {
  width: 80%;
  display: flex;
  margin: auto;
  padding-left: 25px;
}
.small-video {
  /* padding: 10px; */
  width: 100%;
  margin: 20px;
  border-radius: 10px;
}

/* career page */

@media only screen and (max-width: 425px) and (min-width: 100px) {
  .frmsecimg {
    background-image: none;
    padding: 50px 0px 50px 0px;
    background-repeat: no-repeat;
    background-position: initial;
    text-align: center;
  }
}

@media only screen and (max-width: 360px) and (min-width: 100px) {
  .hero-text h1 {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 360px) and (min-width: 100px) {
  .hero-text h1 {
    margin-top: 50px;
  }
}

@media screen and (max-width: 740px) and (min-width: 360px) {
  .video-gallery-main-container {
    max-width: 100%;
  }
  .large-video-container {
    display: none;
  }
  .large-video {
    height: 250px;
    width: 100%;
    margin: 0%;
  }
  .small-video-container {
    width: 100%;
    margin-left: -18px;
    display: list-item;
    padding-left: 0%;
  }
  .small-video {
    width: 100%;
    /* margin-bottom: 10px; */
  }
}
